#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #3d2f1f;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    user-select: none;
}

.square.light { background-color: var(--board-light); }
.square.dark { background-color: var(--board-dark); }
.square.selected { background-color: #7b9652 !important; }
.square.check { background-color: #f56464; }
.square.moveable { background-color: #bbfcdb; }
